.box {
   border: 1px solid #ddd;
   border-top: 1px solid #eee;
   padding: 24px 16px;
   margin: 24px 0;
   border-radius: 2px;
   p {
      &:last-child {
         margin-bottom: 0;
      }
   }
   &.shadow {
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
   }
}
