button {
    background: $color-primary;
    border: 0;
    border-radius: $border-radius;
    color: white;
    // transition: all .3s;
    font-family: $font-primary;
    display: inline-block;
    font-weight: 500;

    &:hover {
        cursor: pointer;
        opacity: .9;
        transition: all .4s;
    }
    &.primary {
        &:active {
            background: #0073ff;
        }
    }
    &.md {
        font-size: 12px;
        min-width: 92px;
        height: 32px;
    }
}